/* --------------------- Content styling --------------------- */
body {
  background-color: black;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 35px;
  text-align: center;
}

h3 {
  text-align: center;
}

ol {
  padding-left: 250px;

}

hr {
  height: 10px;
  background-color: #36486b;
}

header {
  font-family: "copperplate gothic bold", "copperplate gothic", arial;
  text-align: center;
  background-color: #36486b;
  color: white;
  margin: 0px 30px;
}

main, footer {
  background-color:  #8ca3a3;
  font-family: georgia, "trebuchet ms", arial;
  padding: 30px 400px;
  margin: 0px 30px;
}

footer { /* TODO: Clean up footer and main styles*/
  color: white;
  background-color: #36486b;
  margin: 30px 30px;
}


/* --------------------- Image Styling --------------------- */
img { /* TODO: See if there's an easier way to center photo*/
  padding: 0px 100px;
}


/* --------------------- Link Styling --------------------- */
a:link {color: white;}
a:visited {color: black;}
a:hover {color: #8ca3a3}
